<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" 
        colors="true" 
        verbose="true" 
        stopOnFailure="false">
    <testsuites>
        <testsuite name="Geo-Math">
            <directory>tests/unit/Sorcerer/Geo</directory>
        </testsuite>
        <testsuite name="Log-Writer">
            <directory>tests/unit/Sorcerer/Logging</directory>
        </testsuite>
        <testsuite name="XML-Extended">
            <directory>tests/unit/Sorcerer/XML</directory>
        </testsuite>
    </testsuites>
</phpunit>